@font-face {
    font-family: 'Montserrat_Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat_Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat_Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'ProstoOne_Regular';
    src: url(../fonts/ProstoOne-Regular.ttf);
    font-weight: 400;
}

